<div class="company_logo">
<h1>Inewsit</h1>
</div>

<div class="categorie">
  <h1>categorie list</h1>
</div>
 <div class="search">

</div>


<div class="product_wheel">
  <%= form_for @product_selection do |f| %>
  <%= f.collection_select(:product_id, @products, :id, :name)%>
  <%= f.submit  %>
  <% end %>
</div>
<div class="add_product">

</div>
<div class="made_in_america">
   <ul>
    list of products made in usa
  </ul>
</div>
<div class="most_reviews">
<h3>Our Most Popular Items</h3>
<ul>
pictures of most popular items
</ul>

</div>
<div class="contact_info">
<p>co logo</p>
<p> phone number</p>
<p>support email</p>
</div>
