<%= render "layouts/company_logo" %>
<div class="categorie">
  <h1>categorie list</h1>
</div>
<!-- <div class="search">
  search items here -->
</div>
<%= render "layouts/errors", :object => @product %>
<div class="new_product_form">
<%= render "layouts/product_form", :object => @product %>
</div>


<%= render "layouts/company_info" %>
