
<div class="contact_info">
<h1 id = 'logo'>❀</h1>
<p>Contact us: ✆<a href="tel:1-000-000-000">1-369-666-1234</a> ❀ <a id = 'email', href="mailto:webmaster@example.com">fake.contact.support.none@fakemail.com</a></p>
</div>
